.home {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

.home-profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-profile {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 90vw;
  height: 10vh;

  background-color: #762000;
  border: 1px solid #a02900;
  border-radius: 10px;
}

.home-profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-profile-picture img {
  width: 6vh;
  height: 6vh;
}

.home-profile-stat {
  width: 18vw;
}
.home-profile-stat-name {
  font-family: "sonara";
  font-size: 12px;
  letter-spacing: 1px;
  color: #e73e00;
}

.home-profile-rank {
  width: 14vw;
}
.home-profile-points {
  width: 20vw;
}
.home-profile-last {
  width: 16vw;
}
