.race-title {
  font-family: "sonara";
  font-size: 16px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.race-items {
  height: 322px;
  overflow-y: scroll;
  border-radius: 10px;
}

.race-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;

  width: calc(95vw - 73px);
  height: 20vh;
  margin-top: 10px;
  margin-bottom: 10px;

  background: black;
  color: white;
  font-family: "sonara";
  border: 1px solid #511600;
  border-radius: 10px;
}

.race-details {
  position: relative;

  width: calc(70vw - 73px);
  height: 20vh;
}
.race-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 25vw;
  height: 20vh;

  background: repeating-linear-gradient(
    45deg,
    rgba(81, 22, 0, 0.5) 0px,
    rgba(81, 22, 0, 0.5) 2px,
    rgba(0, 0, 0, 0.5) 2px,
    rgb(0, 0, 0) 10px
  );
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.race-image img {
  width: 20vw;
}
