@font-face {
  font-family: "sonara";
  src: url("./fonts/sonara.otf");
}

@font-face {
  font-family: "raleway-semibold";
  src: url("./fonts/Raleway-SemiBold.ttf");
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #050505;
  overflow-y: scroll;
  overflow-x: hidden;
}

.top-spacer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;

  height: 12vh;
  margin: 0;
  padding: 0;
}
