.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.home-section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 25vh;
}

.home-section-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 75vh;
}

.home-title img {
  width: 60vw;
}

.home-tabs {
  width: calc(100vw - 40px);
  height: calc(75vh - 40px);
  margin: 0;
  text-align: center;
  border-radius: 10px;
  overflow-y: scroll;
}

.home-tab {
  position: relative;
  margin-top: 0px;
  margin-bottom: 10px;
  width: calc(100vw - 40px);
  height: 15vh;
  background-size: calc(100vw - 40px);
  border-radius: 10px;
  border: 0px solid var(--black);
  cursor: pointer;
}

.mint-tab {
  background: no-repeat url(../assets/backgrounds/car_1.png);
  background-size: calc(100vw - 40px);
}
.stake-tab {
  background: no-repeat url(../assets/backgrounds/car_2.png);
  background-size: calc(100vw - 40px);
}
.leaderboard-tab {
  background: no-repeat url(../assets/backgrounds/car_3.png);
  background-size: calc(100vw - 40px);
}

.home-tab:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.home-tab:not(:disabled):hover {
  opacity: 0.75;

  transition-duration: 0.2s;
}

.home-tab:not(:disabled):not(:hover) {
  transition-duration: 0.2s;
}

.home-tab-text {
  position: absolute;
  top: 15px;
  left: 15px;
  text-align: left;
}

.home-tab-title {
  font-family: "sonara-rounded";
  font-size: 24px;
  color: var(--signature);
  margin: 0;
  padding: 0;
}

.home-tab-description {
  font-family: "jetbrains-light";
  font-size: 14px;
  color: var(--white);
  margin: 0;
  padding: 0;
}
