.leaderboard {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.leaderboard-title {
    width: 100vw;
    height: 15vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: var(--white);
    font-family: "sonara-rounded";
    font-size: 24px;
}

.leaderboard-filter {
    width: 100vw;
    height: 10vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: var(--signature);
    font-family: "jetbrains-light";
    font-size: 14px;
}

.leaderboard-filter-content {
    width: calc(100vw - 80px);
    height: 10vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: left;
}

.leaderboard-cell {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    width: calc(25vw - 20px);
}

.leaderboard-cell-last,
.leaderboard-cell-total {
    justify-content: right;
    text-align: right;
}

.leaderboard-items-container {
    width: 100vw;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leaderboard-items {
    width: calc(100vw - 20px);
    height: calc(75vh - 20px);
    border-radius: 10px;
    overflow-y: scroll;
}

.leaderboard-item {
    width: calc(100vw - 20px);
    height: calc(15vh - 20px);
    margin-bottom: 10px;
    background-color: var(--black-faded);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leaderboard-item-content {
    width: calc(100vw - 80px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
    font-family: "jetbrains-light";
    font-size: 14px;
}