.mint {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.mint-preview {
    position: absolute;
    top: 0;
}

.mint-action {
    position: absolute;
    bottom: 20px;
}

.mint-title {
    width: 100vw;
    height: 15vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: var(--white);
    font-family: "sonara-rounded";
    font-size: 24px;
}

.mint-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

.mint-cover img {
    width: calc(80vw + 30px);
    border-radius: 10px;
}

.mint-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 0;
    margin-top: 5px;
    padding: 0;
}

.mint-button button {
    border: 0px solid var(--white);
    width: calc(80vw + 30px);
    padding: 15px;
    border-radius: 10px;
    background-color: var(--signature);
    color: var(--black);
    font-family: "jetbrains-medium";
    font-size: 14px;
    cursor: pointer;
}

.mint-button button:hover {
    background-color: var(--white);
    color: var(--black);
    transition-duration: 0.2s;
}

.mint-button button:active {
    background-color: var(--black);
    color: var(--white);
}

.mint-button button:not(:hover) {
    transition-duration: 0.2s;
}

.mint-countdown,
.mint-status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 0;
    margin-top: 5px;
    text-align: center;
}

.mint-countdown {
    margin-top: 20px;
}

.mint-countdown div,
.mint-status div {
    width: calc(80vw + 30px);
    padding: 15px;
    border-radius: 10px;
    background-color: var(--white-faded);
    color: var(--white);
    font-family: "jetbrains-medium";
    font-size: 14px;
}

.mint-process {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
}

.mint-process img {
    animation: 2.5s infinite blink;
}

.mint-result-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-family: "jetbrains-medium";
    font-size: 14px;
    color: var(--white);
    text-align: center;
}

.mint-result-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 0;
}

.mint-result-button button {
    border: 0px solid var(--white);
    width: calc(80vw + 30px);
    padding: 15px;
    border-radius: 10px;
    background-color: var(--signature);
    color: var(--black);
    font-family: "jetbrains-medium";
    font-size: 14px;
    cursor: pointer;
}

.mint-result-button button:hover {
    background-color: var(--white);
    color: var(--black);
    transition-duration: 0.2s;
}

.mint-result-button button:active {
    background-color: var(--black);
    color: var(--white);
}

.mint-result-button button:not(:hover) {
    transition-duration: 0.2s;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}