.navigation {
  position: fixed;
  top: calc(22vh + 12px);
  left: 0;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.navigation-content {
  display: block;
}

.navigation-button {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid white;
  background-color: transparent;
  color: #a8a8a8;
  cursor: pointer;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navigation-button:hover {
  background-color: #0f0f0f;
}

.navigation-active {
  background-color: #0e0e0e;
  color: #ff4800;
}

.navigation-last {
  color: #ff4800;
  background-color: #3b1000;
  border: 1px solid #a02900;
  border: 1px solid #a02900;
  border-left: 0px solid black;
}
