.stake {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.stake-title {
    width: 100vw;
    height: 15vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: var(--white);
    font-family: "sonara-rounded";
    font-size: 24px;
}

.stake-items-container {
    width: 100vw;
    height: 85vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stake-items {
    width: calc(100vw - 40px);
    height: calc(85vh - 40px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;
    overflow-y: scroll;
}


/*staking item*/

.race-selection {
    width: calc(100vw - 80px);
    height: 40vh;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    font-family: "jetbrains-light";
    font-size: 12px;
    position: relative;
    width: calc(100vw- 120px);
    background: url("../assets/backgrounds/australia.png") no-repeat;
    background-size: calc(100vw - 20px);
    cursor: pointer;
    opacity: 0;
}

.australia {
    background: url("../assets/backgrounds/australia.png") no-repeat;
}

.saudi-arabia {
    background: url("../assets/backgrounds/saudi-arabia.png") no-repeat;
}

.azerbaijan {
    background: url("../assets/backgrounds/azerbaijan.png") no-repeat;
}

.race-date {
    font-family: "jetbrains-light";
    color: var(--white);
    height: 10vh;
}

.race-selection-trackmap {
    position: absolute;
    top: 20px;
    right: 20px;
}

.race-info {
    font-family: "jetbrains-light";
    color: var(--white);
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: left;
}

.race-selection-name {
    margin-bottom: 10px;
    font-family: "sonara-rounded";
    font-size: 18px;
    color: var(--signature);
}

.race-status {
    font-family: "jetbrains-light";
    color: var(--white);
    height: 10vh;
    display: flex;
    align-items: flex-end;
    justify-content: left;
}

.race-selection-buttons button {
    margin-right: 5px;
    padding: 10px;
    background-color: var(--white-faded);
    border: 0px solid var(--white-faded);
    border-radius: 10px;
    font-family: "jetbrains-bold";
    color: white;
}

button.race-live-status {
    background-color: rgba(138, 43, 226, 0.2);
}

button.expired {
    background-color: rgba(55, 0, 255, 0.2);
}

button.live {
    background-color: var(--signature);
    color: black;
}

button.upcoming {
    background-color: rgba(255, 32, 181, 0.4);
}

button.race-staked-amount {
    background-color: var(--signature-faded);
}

.car-selection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: var(--black-faded);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--signature);
}